<!--<!DOCTYPE html>
<html>
<head>
<title>Forum</title>
</head>
<body>-->
<% provide(:title, 'Forum') %>
<div class="center jumbotron">
<h1>Forum</h1>
<p>This the the home page for forum application</p>
<%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<!--</body>
</html>-->
