<<<<<<< HEAD
<footer class="footer navbar navbar-fixed-bottom navbar-inverse">
    <p>
      Copyright@ 2020 | Powered by Brigitta Gloria Hegaini - s3766172 | Dana Dawaname - s3652553 | Amir Homayoon 
    </p>
</footer>


