    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Forum", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Forum", '#' %></li>
            <li><%= link_to "News", '#' %></li>
            <li><%= link_to "Login", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
